:root {
  --light-base: #ffffff;
  --light-accent: #f5f5f5;
  --light-transparent: rgba(255, 255, 255, 0.2);
  --dark-base: #000000;
  --dark-mode: #101010;
  --dark-accent: #363636;
  --gray-color: #8a8a8a;
  --accent-color: #f1f1f1;
  --accent-color-2: #fc00ff;
  --accent-color-3: #00dbde;
  --gradient: linear-gradient(116deg, #fc00ff,
      #00dbde);
  --opacity: .8;
  --border-light: 1px solid var(--light-base);
  --border-dark: 1px solid var(--dark-accent);
  --border-accent: 1px solid var(--accent-color-2);
  --box-shadow: 0 0 5px 5px;
  --transition: all 200ms ease-in-out;
  --transitionPrimary: transitionPrimary 500ms ease-in-out forwards;

  /*Size*/
  --size-xx-small: 0.188rem;
  --size-x-small: 0.313rem;
  --size-small-base: 0.5rem;
  --size-small-l: 0.625rem;
  --size-small-xl: 0.75rem;
  --size-base-xs: 0.875rem;
  --size-base-sm: 0.938rem;
  --size-base: 1rem;
  --size-1-xl: 1.125rem;
  --size-2-base: 1.25rem;
  --size-2-xl: 1.5rem;
  --size-3-base: 1.875rem;
  --size-3-xl: 2.25rem;
  --size-4-base: 2.5rem;
  --size-4-xl: 3rem;
  --size-5-base: 3.125rem;
  --size-6-base: 3.75rem;
  --size-7-base: 4.375rem;
  --size-8-base: 5rem;
  --text-size: 1.125rem;

  /*Clamp*/
  --clamp-x-small: clamp(0.188rem, 1vw, 0.313rem);
  --clamp-small-l: clamp(0.5rem, 1vw, 0.625rem);
  --clamp-small-xl: clamp(0.625rem, 1vw, 0.75rem);
  --clamp-base-xs: clamp(0.75rem, 1vw, 0.875rem);
  --clamp-base-sm: clamp(0.875rem, 1vw, 0.938rem);
  --clamp-base: clamp(0.938rem, 2vw, 1rem);
  --clamp-1-xl: clamp(1rem, 2vw, 1.125rem);
  --clamp-2-base: clamp(1rem, 2vw, 1.25rem);
  --clamp-2-xl: clamp(1.25rem, 2.4vw, 1.5rem);
  --clamp-3-base: clamp(1.375rem, 3vw, 1.875rem);
  --clamp-3-xl: clamp(1.5rem, 3.2vw, 2rem);
  --clamp-4-base: clamp(2rem, 4vw, 2.5rem);
  --clamp-4-xl: clamp(2.5rem, 4.8vw, 3rem);
  --clamp-5-base: clamp(2.25rem, 5vw, 3.125rem);
  --clamp-7-base: clamp(3.125rem, 7vw, 4.375rem);
  --clamp-7-xl: clamp(3.5rem, 7.2vw, 4.5rem);
  --clamp-8-base: clamp(4.5rem, 8vw, 5rem);

  /*Font Weight*/
  --fw-thin: 100;
  --fw-extraLight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-extraBold: 800;
  --fw-black: 900;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: var(--size-small-base);
  text-decoration: none;
  list-style: none;
  line-height: 1.5;
  font-family: 'poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
  scroll-padding-top: var(--clamp-5-base);
}

body {
  max-width: 90rem;
  margin-inline: auto;
}

.darkmode {
  background-color: var(--dark-mode);
  color: var(--light-base);
}

.darkmode .button-secondary {
  color: var(--light-base);
  background-color: var(--dark-mode);
}

.darkmode .header {
  background-color: transparent;
}

.darkmode .services__item,
.darkmode .experience__wrapper {
  background-color: var(--dark-accent);
}

.darkmode .services__showcase {
  color: var(--dark-base);
}

h1,
.h1 {
  font-size: var(--clamp-4-base);
  font-weight: var(--fw-regular);
  line-height: 1.1;
  text-align: center;
}

h2,
.h2 {
  font-size: var(--clamp-3-xl);
  font-weight: var(--fw-regular);
  line-height: 1.2;
}

h3,
.h3 {
  font-size: var(--clamp-2-xl);
  font-weight: var(--fw-regular);
  line-height: 1.2;
}

h4,
.h4 {
  font-size: var(--clamp-2-base);
  font-weight: var(--fw-regular);
  line-height: 1.2;
}

p,
.p,
figcaption,
address {
  font-size: var(--text-size);
  font-weight: var(--fw-light);
  font-style: normal;
}

b,
strong {
  font-size: var(--clamp-base);
  font-weight: var(--fw-regular);
}

small {
  font-size: var(--size-base);
  font-weight: var(--fw-light);
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  display: block;
}

a,
button,
.button {
  font-size: var(--text-size);
  font-weight: var(--fw-regular);
  line-height: normal;
  color: inherit;
  transition: var(--transition);
}

a:is(:hover, :focus-visible),
button:is(:hover, :focus-visible),
.button:is(:hover, :focus-visible) {
  opacity: var(--opacity);
}

button,
.button {
  color: var(--light-base);
  background-color: var(--dark-base);
  border: none;
  padding: .5em 1.25em;
  border-radius: var(--size-3-base);
  cursor: pointer;
}

.button-gradient {
  background-image: var(--gradient);
}

.button-secondary {
  color: var(--dark-base);
  background-color: var(--light-base);
  position: relative;
}

.button-secondary:is(:hover, :focus-visible) {
  color: var(--light-base);
}

.button-secondary::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: var(--size-3-base);
  background-image: var(--gradient);
  z-index: -1;
}

.text-center {
  text-align: center;
}

.text-gradient {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper-contents {
  max-inline-size: min(100% - clamp(.5rem, 5vw, 8rem), 75rem);
  margin-inline: auto;
  padding-block: min(12%, 3rem);
}

@keyframes transitionPrimary {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

::-webkit-scrollbar {
  width: var(--clamp-small-l);
  height: var(--clamp-small-l);
}

::-webkit-scrollbar-track {
  border-radius: var(--size-small-l);
  background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--size-small-l);
  background-image: var(--gradient);
}

@supports (background-image: var(--gradient)) {
  .projects__wrapper {
    scrollbar-color: var(--accent-color-3) var(--accent-color);
    scrollbar-width: thin;
  }
}

/* Header & Navigation Section */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(var(--size-2-base));
}

.nav {
  height: var(--clamp-7-xl);
  padding-block: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--size-2-base);
  font-weight: var(--fw-medium);
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0rem, 3vw, var(--size-3-base));
}

.nav__link {
  font-weight: var(--fw-light);
}

.nav__link:is(:hover, :focus-visible) {
  text-decoration: 2px solid #fc00ff underline;
  text-underline-offset: var(--size-x-small);
}

#themeSwitch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#themeSwitch svg:last-child {
  display: none;
}

.darkmode #themeSwitch svg:first-child {
  display: none;
}

.darkmode #themeSwitch svg:last-child {
  display: block;
}

.nav__mobile-btn {
  display: none;
  cursor: pointer;
}

main,
.main {
  margin-top: var(--clamp-7-xl);
  animation: var(--appers);
}

/* Home Section */
.home {
  display: grid;
  place-items: center;
  gap: var(--clamp-base-sm);
}

.home__img {
  width: clamp(9.375rem, 8.6932rem + 3.4091vw, 11.25rem);
  border-radius: var(--size-small-base);
  margin-bottom: var(--size-small-xl);
}

.home__btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-base);
  margin-top: var(--clamp-base-sm);
}

/* Services Section */
.services__wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--clamp-3-base);
}

.services__img {
  border-radius: var(--size-small-base);
  aspect-ratio: 1/1;
  width: clamp(16.875rem, 15.0568rem + 9.0909vw, 21.875rem);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--clamp-2-base);
}

.services__item {
  width: clamp(16.875rem, 14.375rem + 12.5vw, 23.75rem);
  display: flex;
  align-items: center;
  gap: var(--size-base);
  position: relative;
  background-color: var(--light-base);
  padding: 1em;
  border-radius: var(--size-small-base);
}

.services__item:not(:last-child)::before {
  content: "";
  position: absolute;
  inset: -1px;
  background-image: var(--gradient);
  border-radius: inherit;
  z-index: -1;
}

.services__item h3 {
  margin-bottom: var(--size-x-small);
}

.services__item .icon {
  background-color: var(--dark-base);
  padding: .5em;
  border-radius: var(--size-3-base);
}

.services__showcase {
  justify-content: space-around;
  background-color: var(--dark-base);
  padding: .75em;
}

.services__exp {
  padding: 1em;
  background-color: var(--accent-color);
  border-radius: var(--size-small-base);
}

.services__exp:last-child {
  background-color: var(--accent-color-3);
}

/* Experience Section */
.experience__wrapper {
  max-width: 56.25rem;
  margin-inline: auto;
  background-color: var(--accent-color);
  padding: 1em;
  border-radius: var(--size-small-base);
}

.experience__content,
.experience__content h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-small-base);
}

.experience__desc {
  margin-top: var(--size-small-l);
}

/* Projects Section */
.projects__wrapper {
  overflow-x: auto;
}

.projects__showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-3-base);
  padding: 1em;
  padding-bottom: 2em;
  width: fit-content;
}

.projects__content {
  width: clamp(16.875rem, 15.0568rem + 9.0909vw, 21.875rem);
  border-radius: var(--size-small-base);
  transition: var(--transition);
  overflow: hidden;
}

.projects__content:is(:hover, :focus-visible) {
  box-shadow: 0 0 5px 5px var(--accent-color-3);
}

.projects__content:is(:hover, :focus-visible) .projects__img {
  scale: 1.02;
}

.projects__img {
  width: 100%;
  transition: var(--transition);
}

.projects__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

/* Footer Section */
footer {
  background-color: var(--dark-base);
  color: var(--light-base);
}

.footer {
  padding-bottom: 0;
}

.footer__content,
.footer__media,
.footer__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--clamp-3-base);
}

.footer__content {
  padding-bottom: 3em;
}

.footer__contact a {
  color: var(--accent-color-3);
}

.footer__media {
  flex-wrap: wrap;
  align-self: end;
  gap: var(--clamp-3-base) var(--clamp-4-base);
  max-width: 25rem;
  width: 100%;
}

.footer__link {
  font-weight: var(--fw-light);
  padding: .5em;
}

.footer__extra {
  border-top: var(--border-dark);
  padding-block: 1em;
  gap: var(--clamp-base);
}

/* Tablet 768px  */
@media (max-width: 48em) {
  .services__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__media {
    max-width: 20rem;
    gap: var(--clamp-3-base);
  }
}

/* Tablet 700px  */
@media (max-width: 43.75em) {
  h2 {
    text-align: center;
  }

  #themeSwitch {
    margin-inline: auto .5em;
  }

  .nav__mobile-btn {
    display: block;
    background-image: var(--gradient);
    padding: var(--size-xx-small);
    border-radius: var(--size-3-base);
  }

  .nav__menu {
    position: fixed;
    width: 75%;
    top: 0;
    right: 0;
    padding-top: var(--size-8-base);
    flex-direction: column;
    justify-content: start;
    min-height: 100dvh;
    transition: var(--transition);
    transform: translateX(100%);
    background-image: var(--gradient);
    border-top-left-radius: var(--size-2-base);
    border-bottom-left-radius: var(--size-2-base);
    z-index: -1;
  }

  .nav__menu.active {
    transform: translateX(0%);
  }

  .nav__menu li {
    width: 100%;
  }

  .nav__link {
    display: block;
    color: var(--light-base);
    padding-block: 1em;
    text-align: center;
  }

  .services__item {
    width: 100%;
  }

  .footer__contact {
    text-align: center;
  }
}

/* Mobile 500px  */
@media (max-width: 31.25em) {
  .footer__content {
    flex-direction: column;
    padding-bottom: 2em;
  }

  .footer__extra {
    flex-direction: column;
    justify-content: center;
  }

  .footer__media {
    margin-inline: auto;
  }
}
